data/
docs/
movies/
screenshots/
voyager.org
!backup_to_dropbox.bat
test/output
src/experiments/images/out
@backup_to_dropbox.bat
old/
*.pyc
test/images/centered
test/images/thresholded
test/images/edges
test/images/debug/
kernels
src/log.txt
log.txt
log*.txt
db/centers_new.csv
src/foo.jpg
