data/
docs/
movies/
screenshots/
old/
kernels/

*.pyc
log*.txt

voyager.org
@backup_to_dropbox.bat

src/experiments/images/out

test/center/centered/
test/center/debug/
test/denoise/*denoised.jpg

db/centers_new.csv

src/log.txt
src/foo.jpg
src/experiments/noise/
test/denoise/hide/*denoised*
annex/
music/
